/* red-hat-display-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/red-hat-display-v21-latin/red-hat-display-v21-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/red-hat-display-v21-latin/red-hat-display-v21-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/red-hat-display-v21-latin/red-hat-display-v21-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(225, 100%, 94%);
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% top;
}
@media (min-width: 37.5rem) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }
}

.card {
  inline-size: 100%;
  max-inline-size: clamp(20.3438rem, 17.5489rem + 11.9249vw, 28.2812rem);
  overflow: hidden;
  border-radius: 1.25rem;
  background-color: white;
  font-family: "Red Hat Display", sans-serif;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  box-shadow: 0 1.25rem 0.9375rem hsla(224, 23%, 55%, 0.2);
}
.card > img {
  display: block;
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-inline: clamp(1.4375rem, 0.8653rem + 2.4413vw, 3.0625rem);
  padding-block: clamp(2.1875rem, 1.9674rem + 0.939vw, 2.8125rem);
  text-align: center;
}
.card__summary {
  padding-inline: 0.625rem;
  margin-block-end: 1.1875rem;
}
.card__summary h1 {
  font-size: clamp(1.3625rem, 1.2261rem + 0.5822vw, 1.75rem);
  margin-block-end: 0.9375rem;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}
.card__summary p {
  font-size: clamp(0.925rem, 0.8986rem + 0.1127vw, 1rem);
  line-height: clamp(1.5625rem, 1.5185rem + 0.1878vw, 1.6875rem);
}
.card button {
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}
@media (prefers-reduced-motion: reduce) {
  .card button {
    transition: none;
  }
}
.card button:focus-visible {
  outline: 0.0625rem solid hsl(224, 23%, 55%);
}
.card__annual-plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: clamp(0.9375rem, 0.7174rem + 0.939vw, 1.5625rem);
  padding-block: clamp(1.25rem, 1.14rem + 0.4695vw, 1.5625rem);
  background-color: hsl(225, 100%, 98%);
  border-radius: 0.625rem;
  margin-block-end: clamp(1.375rem, 1.1989rem + 0.7512vw, 1.875rem);
}
.card__annual-plan button {
  border: none;
  background-color: transparent;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  font-weight: 700;
  font-size: clamp(0.8125rem, 0.7905rem + 0.0939vw, 0.875rem);
}
.card__annual-plan button:hover {
  color: hsla(245, 75%, 52%, 0.7);
  text-decoration: none;
}
.card__plan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(1.1875rem, 1.3565rem - 0.1878vw, 1.3125rem);
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
}
.card__plan-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
}
.card__plan-amount p {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}
.card__proceed-btn {
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  padding-block: clamp(0.9375rem, 0.8935rem + 0.1878vw, 1.0625rem);
  border: none;
  border-radius: 0.625rem;
  font-size: 0.96875rem;
  font-weight: 700;
  box-shadow: 0 1.25rem 1.0625rem hsla(245, 75%, 52%, 0.2);
  margin-block-end: clamp(1.5625rem, 1.3864rem + 0.7512vw, 2.0625rem);
}
.card__proceed-btn:hover {
  background-color: hsla(245, 75%, 52%, 0.7);
}
.card__cancel-btn {
  font-size: 0.9375rem;
  font-weight: 700;
  color: hsl(224, 23%, 55%);
  border: none;
  background-color: transparent;
}
.card__cancel-btn:hover {
  color: hsl(223, 47%, 23%);
}/*# sourceMappingURL=main.css.map */